In [1]:
import jaydebeapi
import jpype
import pandas as pd
from jpype import *

In [7]:
!ls target/

verdict-core-0.3.0-snapshot-jar-with-dependencies.jar
verdict-jdbc-0.3.0-snapshot-jar-with-dependencies.jar
verdict-veeline-0.3.0-snapshot-jar-with-dependencies.jar

In [8]:
classpath = './target/verdict-jdbc-0.3.0-snapshot-jar-with-dependencies.jar:./../RedshiftJDBC41-1.1.17.1017.jar'
jvm_path = jpype.getDefaultJVMPath()
jpype.startJVM(jvm_path, "-Djava.class.path=%s" % classpath)

In [9]:
conn = jaydebeapi.connect(jclassname='edu.umich.verdict.jdbc.Driver', 
                          url='jdbc:verdict:redshift://verdict-redshift-demo.crc58e3qof3k.us-east-1.redshift.amazonaws.com:5439/dev?PWD=qKUcr2CUgSP3NjHE&UID=admin')

curs = conn.cursor()

In [20]:
curs.execute('select * from tpch100g_demo.customer limit 10;')
columns = [desc[0] for desc in curs.description] #getting column headers
pd.DataFrame(curs.fetchall(), columns=columns)

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,1,Customer#000000001,"IVhzIApeRb ot,c,E",15,25-989-741-2988,711.56,BUILDING,"to the even, regular platelets. regular, ironi..."
1,3,Customer#000000003,MG9kdTD2WBHm,1,11-719-748-3364,7498.12,AUTOMOBILE,"deposits eat slyly ironic, even instructions...."
2,5,Customer#000000005,KvpyuHCplrB84WgAiGV6sYpZq7Tj,3,13-750-942-6364,794.47,HOUSEHOLD,n accounts will have to unwind. foxes cajole a...
3,7,Customer#000000007,TcGe5gaZNgVePxU5kRrvXBfkasDTea,18,28-190-982-9759,9561.95,AUTOMOBILE,"ainst the ironic, express theodolites. express..."
4,9,Customer#000000009,xKiAFTjUsCuxfeleNqefumTrjS,8,18-338-906-3675,8324.07,FURNITURE,r theodolites according to the requests wake t...
5,11,Customer#000000011,PkWS 3HlXqwTuzrKg633BEi,23,33-464-151-3439,-272.60,BUILDING,ckages. requests sleep slyly. quickly even pin...
6,13,Customer#000000013,nsXQu0oVjD7PM659uC3SRSp,3,13-761-547-5974,3857.34,BUILDING,ounts sleep carefully after the close frays. c...
7,15,Customer#000000015,"YtWggXoOLdwdo7b0y,BZaGUQMLJMX1Y,EC,6Dn",23,33-687-542-7601,2788.52,HOUSEHOLD,platelets. regular deposits detect asymptotes...
8,17,Customer#000000017,izrh 6jdqtp2eqdtbkswDD8SG4SzXruMfIXyR7,2,12-970-682-3487,6.34,AUTOMOBILE,packages wake! blithely even pint
9,19,Customer#000000019,"uc,3bHIx84H,wdrmLOjVsiqXCq2tr",18,28-396-526-5053,8914.71,HOUSEHOLD,nag. furiously careful packages are slyly at ...